.input-inner {
  display: block;
  margin-bottom: 1rem;
}

.feed-back-label {
  font-size: 10px;
  display: block;
}

.invalid-input {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
