@import 'node_modules/swiper/swiper.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'base/_base-dir';

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #706262;
}
